{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="../static/style.css">
<input type="text" value="1" hidden>
<form method="post" id="formponto" action="score">{% csrf_token %}
  <div class="row container" style="text-align: center;">
    <div class="col-md-2">
      <a href="/index">
        <button type="button" class="btn btn-danger">Voltar</button>
      </a>
    </div>
    {% for nv in nivel %}
    <div class="col-md-2" style="color: black;">Nível: <input type="text" id="nivel" name="nivel"
        style="text-align: center;width: 50px;border: 0;text-decoration: none;background:#eeeeee" readonly
        value="{{nv}}"></div>
    {% endfor %}
    {% for lf in life %}
    <div class="col-md-2" style="color: black;">Vidas: <input type="text" id="vida"
        style="text-align: center;width: 50px;border: 0;text-decoration: none;background:#eeeeee" disabled
        value="{{lf}}"></div>
    {% endfor %}
    {% for tm in time %}
    <div class="col-md-4" style="color: black;">Tempo de Visualização: <input type="text" id="tempo"
        style="text-align: center;width: 20px;border: 0;text-decoration: none;background:#eeeeee" disabled
        value="{{tm}}"> segundos</div>
    {% endfor %}
    <div class="col-md-2">
      <button type="" id="btniniciar" class="btn btn-success" onclick="flipAllCards()">Iniciar</button>
    </div>
  </div>
  <div class="container" style="text-align: center;">
    <div class="" style="color: black;">Pontos:
      <input type="text" name="ponto" id="ponto"
        style="text-align: center;width: 50px;border: 0;text-decoration: none; color:red; font-size:25px;background:#eeeeee"
        readonly value="0">
    </div>
  </div>
</form>
<!-- Input onde vai receber o valor da dificuldade, usar pra adicionar a pontuação com base no valor. -->


<!-- Modal image -->
<div class="modal fade" data-modal="modalTeste" id="image" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Transparência:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-lg-4">
          <img class="resizeimg img-responsive" src="../static/img/image.png" alt="image" />
        </div>
        <div class="col-lg-8">
          Todas as informações dos titulares devem ser claras, precisas e de fácil acesso.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar para continuar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Zerou -->
<div class="modal fade" data-modal="modalTeste" id="zerou" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="erro">Você perdeu!</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="window.location.reload();" data-dismiss="modal">Clique
          aqui para Jogar novamente</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Ganhou -->
<div class="modal fade" data-modal="modalTeste" id="ganhou" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="erro">Ganhou!</h5>
      </div>
      <div class="modal-body">
        Obrigado por jogar e aprender conceitos sobre a Lei Geral de Proteção de Dados!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="recebeValor();" data-dismiss="modal">Clique aqui para
          voltar a página inicial</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal image1 -->
<div class="modal fade" data-modal="modalTeste" id="image1" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Uma regra para todos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-lg-4">
          <img class="resizeimg img-responsive" src="../static/img/image1.png" alt="image1" />
        </div>
        <div class="col-lg-8">
          Cria um cenário de segurança jurídica válido para todo o país.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar para continuar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal image2 -->
<div class="modal fade" data-modal="modalTeste" id="image2" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel3">Penalidades Rígidas: </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-lg-4">
          <img class="resizeimg img-responsive" src="../static/img/image2.png" alt="image2" />
        </div>
        <div class="col-lg-8">
          Falhas de Segurança podem gerar multas pesadas.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar para continuar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal image3 -->
<div class="modal fade" data-modal="modalTeste" id="image3" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel4">Abrangência Extraterritorial: </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-lg-4">
          <img class="resizeimg img-responsive" src="../static/img/image3.png" alt="image3" />
        </div>
        <div class="col-lg-8">
          Não importa se a organização ou o centro de dados está dentro ou fora do Brasil.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar para continuar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal image4 -->
<div class="modal fade" data-modal="modalTeste" id="image4" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel5">Definição do conceito:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-lg-4">
          <img class="resizeimg img-responsive" src="../static/img/image4.png" alt="image4" />
        </div>
        <div class="col-lg-8">
          Estabelece, de maneira clara, o que são dados pessoais.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar para continuar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal image5 -->
<div class="modal fade" data-modal="modalTeste" id="image5" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel6">Gestão de riscos e falhas </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-lg-4">
          <img class="resizeimg img-responsive" src="../static/img/image5.png" alt="image5" />
        </div>
        <div class="col-lg-8">
          Quem gera base de dados pessoais terá que fazer essa gestão.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar para continuar</button>
      </div>
    </div>
  </div>
</div>



<section class="memory-game desaparece" id="gamer">

  <div class="memory-card" data-framework="image">
    <img class="front-face" src="../static/img/image.png" alt="image" />
    <img class="back-face" src="../static/img/backcard.jpg" alt="JS Badge" />
  </div>
  <div class="memory-card" data-framework="image">
    <img class="front-face" src="../static/img/image.png" alt="image" />
    <img class="back-face" src="../static/img/backcard.jpg" alt="JS Badge" />
  </div>

  <div class="memory-card" data-framework="image1">
    <img class="front-face" src="../static/img/image1.png" alt="image1" />
    <img class="back-face" src="../static/img/backcard.jpg" alt="JS Badge" />
  </div>
  <div class="memory-card" data-framework="image1">
    <img class="front-face" src="../static/img/image1.png" alt="image1" />
    <img class="back-face" src="../static/img/backcard.jpg" alt="JS Badge" />
  </div>

  <div class="memory-card" data-framework="image2">
    <img class="front-face" src="../static/img/image2.png" alt="image2" />
    <img class="back-face" src="../static/img/backcard.jpg" alt="JS Badge" />
  </div>
  <div class="memory-card" data-framework="image2">
    <img class="front-face" src="../static/img/image2.png" alt="image2" />
    <img class="back-face" src="../static/img/backcard.jpg" alt="JS Badge" />
  </div>

  <div class="memory-card" data-framework="image3">
    <img class="front-face" src="../static/img/image3.png" alt="image3" />
    <img class="back-face" src="../static/img/backcard.jpg" alt="JS Badge" />
  </div>
  <div class="memory-card" data-framework="image3">
    <img class="front-face" src="../static/img/image3.png" alt="image3" />
    <img class="back-face" src="../static/img/backcard.jpg" alt="JS Badge" />
  </div>

  <div class="memory-card" data-framework="image4">
    <img class="front-face" src="../static/img/image4.png" alt="image4" />
    <img class="back-face" src="../static/img/backcard.jpg" alt="JS Badge" />
  </div>
  <div class="memory-card" data-framework="image4">
    <img class="front-face" src="../static/img/image4.png" alt="image4" />
    <img class="back-face" src="../static/img/backcard.jpg" alt="JS Badge" />
  </div>

  <div class="memory-card" data-framework="image5">
    <img class="front-face" src="../static/img/image5.png" alt="image5" />
    <img class="back-face" src="../static/img/backcard.jpg" alt="JS Badge" />
  </div>
  <div class="memory-card" data-framework="image5">
    <img class="front-face" src="../static/img/image5.png" alt="image5" />
    <img class="back-face" src="../static/img/backcard.jpg" alt="JS Badge" />
  </div>
</section>

<script src="../static/script.js"></script>
{% endblock content %}